/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
hr,
figure,
blockquote {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  outline: none;
  background: none;
}

/* Variables */

:root {
  --soft-orange-clr: hsl(35, 77%, 62%);
  --sort-red-clr: hsl(5, 85%, 63%);
  --off-white-clr: hsl(36, 100%, 99%);
  --grayish-blue-clr: hsl(233, 8%, 79%);
  --dark-grayish-blue-clr: hsl(236, 13%, 42%);
  --very-dark-blue-clr: hsl(240, 100%, 5%);
  --fs: 0.9375rem;
  --primary-ff: "Inter", sans-serif;
}

/* Body */

body {
  font-family: var(--primary-ff);
  font-size: var(--fs);
  background-color: var(--off-white-clr);
}

/* Header */

.header {
  padding-block-start: 5rem;
  padding-block-end: 3rem;
}

.menu {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-inline-end: 2rem;
}

.menu-link {
  color: var(--dark-grayish-blue-clr);
  transition: color 200ms ease-in;
}

.hamburger {
  float: right;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.hamburger img {
  content: url(../img/icon-menu.svg);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  translate: -100%;
}

.nav-menu.open {
  translate: 0;
  transition: 200ms ease-in-out;
}

.overlay.show {
  translate: 0;
}

.hamburger img.change {
  content: url(../img/icon-menu-close.svg);
}

body.fixed {
  position: fixed;
}

/* Main */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-block-end: 3rem;
}

.grid-item:nth-child(1) {
  grid-column: 1 / 3;
}

.grid-item:nth-child(2) {
  background-color: var(--very-dark-blue-clr);
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.grid-item:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.aside-title {
  color: var(--soft-orange-clr);
  margin-block-end: 1.5rem;
  font-weight: 700;
}

.aside-sub-title {
  color: var(--off-white-clr);
  display: inline-block;
  font-weight: 700;
  margin-block-end: 1rem;
  transition: 200ms ease-in-out;
}

.aside-text {
  color: var(--grayish-blue-clr);
}

.divider {
  margin-block: 1rem;
  color: var(--grayish-blue-clr);
}

.title {
  color: var(--very-dark-blue-clr);
  font-weight: 800;
}

.text {
  color: var(--dark-grayish-blue-clr);
  margin-block-end: 1rem;
}

.primary-btn {
  text-transform: uppercase;
  color: var(--off-white-clr);
  background-color: var(--sort-red-clr);
  padding: 0.5rem 1.5rem;
  letter-spacing: 3px;
  font-weight: 700;
  transition: 200ms ease-in;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block-end: 2rem;
}

figure {
  margin-inline-end: 1.5rem;
}

figure img {
  width: 100%;
}

.col-number {
  display: inline-block;
  font-weight: 700;
  color: var(--grayish-blue-clr);
  font-size: 2rem;
}

.col-title {
  color: var(--very-dark-blue-clr);
  font-weight: 700;
  transition: 200ms ease-in;
}

/* Hover Effects */

@media (hover: hover) {
  .menu-link:hover {
    color: var(--sort-red-clr);
  }

  .aside-sub-title:hover {
    color: var(--soft-orange-clr);
  }

  .primary-btn:hover {
    background-color: var(--very-dark-blue-clr);
  }

  .col-title:hover {
    color: var(--sort-red-clr);
  }
}

/* Media Queries */

@media all and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item:nth-child(1) {
    grid-column: auto;
  }
  .grid-item:nth-child(2) {
    grid-column: auto;
    grid-row: auto;
  }

  .grid-item:nth-child(3) {
    grid-row: 2 / 3;
  }

  .grid-item:nth-child(4) {
    grid-row: 3 / 4;
  }
}

@media all and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: 40%;
    top: 0;
    background-color: var(--off-white-clr);
    width: 100%;
    height: 100%;
    translate: 100%;
    z-index: 1;
  }
  .menu {
    flex-direction: column;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    padding-inline-start: 2rem;
  }

  .menu-item:not(:last-child) {
    margin-inline-end: 0px;
    margin-block-end: 2rem;
  }

  .menu-link {
    color: var(--very-dark-blue-clr);
  }
}
